<!doctype html>
<html lang="en">
    <head>
        <title>NCSOFT West</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Welcome to the official site of NCSOFT West. Our site provides news, career opportunities, company information, game links and more." />
        
                    <!-- Google Tag Manager -->
                <!-- End Google Tag Manager -->
                
        <meta name="csrf-token" content="WBpQWashkAEDnzA6mBijxmLTNS5Bj8YZFFN6OfFs">
        <meta property="og:title" content="NCSOFT West" />
        <meta property="og:site_name" content="NCSOFT West" />
        <meta property="og:description" content="Welcome to the official site of NCSOFT West. Our site provides news, career opportunities, company information, game links and more." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.ncsoft.com" />
        <meta property="og:image" content="./assets/static/home-meta.jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:locale:alternate" content="de" />
        <meta property="og:locale:alternate" content="en" />
        <meta property="og:locale:alternate" content="en_GB" />
        <meta property="og:locale:alternate" content="fr" />

        
        <meta name="twitter:url" value="https://www.ncsoft.com" />
        <meta name="twitter:label1" value="NCSOFT West" />
        <meta name="twitter:data1" value="Welcome to the official site of NCSOFT West. Our site provides news, career opportunities, company information, game links and more." />
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


        <link href="./css/app.css" rel="stylesheet">
        <link href="./css/slick.css" rel="stylesheet">
        <link href="./css/slick-theme.css" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <style>
            body .bg, header{
                background-image:url(./assets/bg.jpg);
            }
            .edge-top-1:before{
                background-image:url(./assets/static/featured-edge-top-1.png);
            }
            .edge-bottom-1:after{
                background-image:url(./assets/static/featured-edge-bottom-1.png);
            }
            .edge-top-2:before{
                background-image:url(./assets/static/featured-edge-top-2.png);
            }
            .edge-bottom-2:after{
                background-image:url(./assets/static/featured-edge-bottom-2.png);
            }
            .edge-top-3:before{
                background-image:url(./assets/static/featured-edge-top-3.png);
            }
            .edge-bottom-3:after{
                background-image:url(./assets/static/featured-edge-bottom-3.png);
            }
            
                        
        </style>
        
        
        
    </head>
    
    <body id="HomePage" class="en">
            <!-- Google Tag Manager (noscript) -->
            
            <!-- End Google Tag Manager (noscript) -->
                
        <div id="app">
            
                
    <section id="Video">

        <a class=" d-md-none logo" href="http://us.ncsoft.com">
    <svg class="" xmlns="http://www.w3.org/2000/svg" width="184" height="22" viewBox="0 0 183.48 21.26">
  <defs>

  </defs>
  <title>logo</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_2-2" data-name="Layer 2">
      <g>
        <path class="nav-logo" d="M32.73,18.42V2.84A2.84,2.84,0,0,1,35.5,0H58.31a.57.57,0,0,1,.58.58V3.75a.55.55,0,0,1-.56.56H42.27a2.37,2.37,0,0,0-1.53.61,2.2,2.2,0,0,0-.6,1.62v8.24A1.92,1.92,0,0,0,42,16.93H58.33a.52.52,0,0,1,.56.57v3.15a.64.64,0,0,1-.54.6H35.48A2.82,2.82,0,0,1,32.73,18.42Z"/>
        <path class="nav-logo" d="M25.9,0a2.44,2.44,0,0,1,2.43,2.44h0V21.25H20.91V5.84A1.41,1.41,0,0,0,19.53,4.3H7.62v17H0V0Z"/>
        <path class="nav-logo" d="M82.16,15.56V13.94a1.36,1.36,0,0,0-1.36-1.35h-15A2.89,2.89,0,0,1,62.9,9.69V2.9A2.9,2.9,0,0,1,65.79,0H88.46A.57.57,0,0,1,89,.58V3.72a.56.56,0,0,1-.56.57H71.15A1.36,1.36,0,0,0,69.8,5.66V6.79a1.43,1.43,0,0,0,1.33,1.48H86.28A2.78,2.78,0,0,1,89.14,11v7.33a2.91,2.91,0,0,1-2.91,2.89H63.53c-.44,0-.57-.43-.57-.68V17.5a.57.57,0,0,1,.57-.58H80.8A1.36,1.36,0,0,0,82.16,15.56Z"/>
        <path class="nav-logo" d="M118.2,0H96a2.79,2.79,0,0,0-2.77,2.79V18.46A2.79,2.79,0,0,0,96,21.25H118.2A2.79,2.79,0,0,0,121,18.46V2.79A2.78,2.78,0,0,0,118.2,0Zm-4.49,15.27a1.51,1.51,0,0,1-1.47,1.67H102.13a1.52,1.52,0,0,1-1.51-1.52V5.83a1.52,1.52,0,0,1,1.51-1.53h10.13a1.4,1.4,0,0,1,1.45,1.37Z"/>
        <path class="nav-logo" d="M125.1,2.83A2.9,2.9,0,0,1,127.94,0H152a.52.52,0,0,1,.51.52V3.75a.54.54,0,0,1-.55.55H134.5a2.34,2.34,0,0,0-1.55.6,2.14,2.14,0,0,0-.59,1.56V8.87h18.28a.52.52,0,0,1,.52.53v3.25a.54.54,0,0,1-.56.56H132.36v8s-7.25,0-7.26,0Z"/>
        <path class="nav-logo" d="M155.51,4.28a.57.57,0,0,1-.58-.57V.57a.57.57,0,0,1,.58-.57H182.9a.58.58,0,0,1,.58.57V3.71a.59.59,0,0,1-.58.57h-8a2.13,2.13,0,0,0-2.12,2.13V21.25h-7.26V6.42a2.14,2.14,0,0,0-2.12-2.14Z"/>
      </g>
    </g>
  </g>
</svg></a>

<button 
        type="button" 
        class="navbar-toggle visible-xs-block visible-sm-block d-block d-md-none" 
        @click="onShowMobileMenu"
        :class="{'active' : showMobileMenu}">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<header class="container-fluid">
    
    <nav class="d-flex  align-items-center">

        <a class="" href="http://us.ncsoft.com">
            <svg class="" xmlns="http://www.w3.org/2000/svg" width="184" height="22" viewBox="0 0 183.48 21.26">
  <defs>

  </defs>
  <title>logo</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_2-2" data-name="Layer 2">
      <g>
        <path class="nav-logo" d="M32.73,18.42V2.84A2.84,2.84,0,0,1,35.5,0H58.31a.57.57,0,0,1,.58.58V3.75a.55.55,0,0,1-.56.56H42.27a2.37,2.37,0,0,0-1.53.61,2.2,2.2,0,0,0-.6,1.62v8.24A1.92,1.92,0,0,0,42,16.93H58.33a.52.52,0,0,1,.56.57v3.15a.64.64,0,0,1-.54.6H35.48A2.82,2.82,0,0,1,32.73,18.42Z"/>
        <path class="nav-logo" d="M25.9,0a2.44,2.44,0,0,1,2.43,2.44h0V21.25H20.91V5.84A1.41,1.41,0,0,0,19.53,4.3H7.62v17H0V0Z"/>
        <path class="nav-logo" d="M82.16,15.56V13.94a1.36,1.36,0,0,0-1.36-1.35h-15A2.89,2.89,0,0,1,62.9,9.69V2.9A2.9,2.9,0,0,1,65.79,0H88.46A.57.57,0,0,1,89,.58V3.72a.56.56,0,0,1-.56.57H71.15A1.36,1.36,0,0,0,69.8,5.66V6.79a1.43,1.43,0,0,0,1.33,1.48H86.28A2.78,2.78,0,0,1,89.14,11v7.33a2.91,2.91,0,0,1-2.91,2.89H63.53c-.44,0-.57-.43-.57-.68V17.5a.57.57,0,0,1,.57-.58H80.8A1.36,1.36,0,0,0,82.16,15.56Z"/>
        <path class="nav-logo" d="M118.2,0H96a2.79,2.79,0,0,0-2.77,2.79V18.46A2.79,2.79,0,0,0,96,21.25H118.2A2.79,2.79,0,0,0,121,18.46V2.79A2.78,2.78,0,0,0,118.2,0Zm-4.49,15.27a1.51,1.51,0,0,1-1.47,1.67H102.13a1.52,1.52,0,0,1-1.51-1.52V5.83a1.52,1.52,0,0,1,1.51-1.53h10.13a1.4,1.4,0,0,1,1.45,1.37Z"/>
        <path class="nav-logo" d="M125.1,2.83A2.9,2.9,0,0,1,127.94,0H152a.52.52,0,0,1,.51.52V3.75a.54.54,0,0,1-.55.55H134.5a2.34,2.34,0,0,0-1.55.6,2.14,2.14,0,0,0-.59,1.56V8.87h18.28a.52.52,0,0,1,.52.53v3.25a.54.54,0,0,1-.56.56H132.36v8s-7.25,0-7.26,0Z"/>
        <path class="nav-logo" d="M155.51,4.28a.57.57,0,0,1-.58-.57V.57a.57.57,0,0,1,.58-.57H182.9a.58.58,0,0,1,.58.57V3.71a.59.59,0,0,1-.58.57h-8a2.13,2.13,0,0,0-2.12,2.13V21.25h-7.26V6.42a2.14,2.14,0,0,0-2.12-2.14Z"/>
      </g>
    </g>
  </g>
</svg>        </a>

        <div class="sep visible-xs-block visible-sm-block d-block d-md-none w-100"></div>
        
        <div class="links">
            
            <div class="nav-item ">
                <a class="nav-link" href="http://us.ncsoft.com/support">Support</a>
            </div>
            
            <div class="nav-item ">
                <a class="nav-link" href="http://us.ncsoft.com/careers">Careers</a>
            </div>

            <div class="nav-item ">
                <a class="nav-link" href="http://us.ncsoft.com/contact-us">Contact</a>
            </div>
            
            <div class="sep visible-xs-block visible-sm-block d-block d-md-none w-100"></div>

            <div class="social visible-xs-flex visible-sm-flex d-flex d-md-none">
                <a href="https://www.facebook.com/NCSOFTWest/" class="social">
                    <font-awesome-icon :icon="['fab', 'facebook']" fixed-width></font-awesome-icon>
                </a>

                <a href="https://twitter.com/NCSOFT_West" class="social">
                    <font-awesome-icon :icon="['fab', 'twitter']" fixed-width></font-awesome-icon>
                </a>
            </div>
            
            
                
                    
                
            

            <div class="visible-xs-block visible-sm-block d-block d-md-none">
                <div class="language">
    <a href="#" class="flag en">
        
        <i></i>
        <span>English</span>

    </a>
</div>

<div class="drawer">

    <a class="close" href="#">
        <i class="fal fa-arrow-right"></i>
    </a>


    <ul>

        
            <li>

                <a class="green flag en" rel="alternate" hreflang="en" href="http://us.ncsoft.com/en">
                    <i></i> English
                </a>

            </li>

        
            <li>

                <a class="green flag en-GB" rel="alternate" hreflang="en-GB" href="http://us.ncsoft.com/en-GB">
                    <i></i> English (UK)
                </a>

            </li>

        
            <li>

                <a class="green flag de" rel="alternate" hreflang="de" href="http://us.ncsoft.com/de">
                    <i></i> Deutsch
                </a>

            </li>

        
            <li>

                <a class="green flag fr" rel="alternate" hreflang="fr" href="http://us.ncsoft.com/fr">
                    <i></i> Français
                </a>

            </li>

        
    </ul>

</div>            </div>
            
        </div>

        

            
                
            


        

    </nav>
    <div class="cover"></div>
</header>


        <video autoplay muted loop playsinline id="myVideo" ref="video">
            <source src="./video/ncsoft-sizzle.mp4" type="video/mp4">
        </video>

        <font-awesome-icon :icon="['fal', 'volume-mute']" fixed-width v-if="!vidMuted"></font-awesome-icon>
        <font-awesome-icon :icon="['fal', 'volume-up']" fixed-width v-if="vidMuted"></font-awesome-icon>


        
        
            
        
        
    </section>
    
    <div class="bg">

        <section class="featured">
            
            <div id="ScrollStart" class="edge-tb edge-top-1 edge-bottom-1 ">
                
                <img src="./images/edge-flare-1.png" alt="" class="flare top">
                
                <img src="./assets/static/featured-edge-left-1.png" alt="" class="edge left">

                <div id="featured-slider" style="width:100%;">
                    <div>
                    <a href="https://www.aionlegionsofwar.com">

                        <div class="img-wrap">
                            <img src="./assets/featured/aion-legions-of-war-bg-featured.jpg" alt=">Aion: Legions of War" class="img-fluid bg">
                            <img src="./assets/featured/aion-legions-of-war-logo-featured.png" alt=">Aion: Legions of War" class="img-fluid logo">
                        </div>

                        <div class="caption">

                            <h3>Aion: Legions of War</h3>
                            <p>Visit Site
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>

                        </div>

                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>
                        </div>
                    </a>
                    </div>
                    <div>
                    <a href="https://www.aionlegionsofwar.com">

                        <div class="img-wrap">
                            <img src="./assets/featured/aion-legions-of-war-bg-featured.jpg" alt=">Aion: Legions of War" class="img-fluid bg">
                            <img src="./assets/featured/aion-legions-of-war-logo-featured.png" alt=">Aion: Legions of War" class="img-fluid logo">
                        </div>

                        <div class="caption">

                            <h3>Aion: Legions of War</h3>
                            <p>Visit Site
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>

                        </div>

                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>
                        </div>
                    </a>
                    </div>
                    <div>
                    <a href="https://www.aionlegionsofwar.com">

                        <div class="img-wrap">
                            <img src="./assets/featured/aion-legions-of-war-bg-featured.jpg" alt=">Aion: Legions of War" class="img-fluid bg">
                            <img src="./assets/featured/aion-legions-of-war-logo-featured.png" alt=">Aion: Legions of War" class="img-fluid logo">
                        </div>

                        <div class="caption">

                            <h3>Aion: Legions of War</h3>
                            <p>Visit Site
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>

                        </div>

                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>
                        </div>
                    </a>
                    </div>
                    <div>
                    <a href="https://www.bladeandsoul.com/en/">
    
                        <div class="img-wrap">
                            <img src="./assets/featured/blade-and-soul.jpg" alt="Blade &amps Soul" class="img-fluid bg">
                            <img src="./assets/featured/blade-and-soul-featured-logo.png" alt="Blade &amps Soul" class="img-fluid logo">
                        </div>
                        
                        <div class="caption">
                            
                            <h3>Blade &amp; Soul<br/>&nbsp;</h3>
                            <p>Visit Site 
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>
     
                        </div>
                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>
    
                        </div>
    
                    </a>
                    </div>

                    <div>
                    <a href="https://www.guildwars2.com/en">

                        <div class="img-wrap">
                            <img src="./assets/featured/guild-wars-2-bg-featured.jpg" alt=">Guild Wars 2" class="img-fluid bg">
                            <img src="./assets/featured/guild-wars-2-logo-featured.png" alt=">Guild Wars 2" class="img-fluid logo">
                        </div>
                        
                        <div class="caption">
            
                            <h3>Guild Wars 2<br/>&nbsp;</h3>
                            <p>Visit Site                                 
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>
            
                        </div>
                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>
    
                        </div>
                    </a>
                    </div>

                    <div>
                    <a href="https://www.aiononline.com">

                        <div class="img-wrap">
                            <img src="./assets/featured/aion-bg-featured.jpg" alt=">Aion" class="img-fluid bg">
                            <img src="./assets/featured/aion-logo-featured.png" alt=">Aion" class="img-fluid logo">
                        </div>
                        
                        <div class="caption">
            
                            <h3>Aion<br/>&nbsp;</h3>
                            <p>Visit Site 
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>
            
                        </div>
                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>
    
                        </div>
                    </a>
                    </div>

                    <div>
                    <a href="https://www.guildwars.com/en">

                        <div class="img-wrap">
                            <img src="./assets/featured/guild-wars-bg-featured.jpg" alt=">Guild Wars" class="img-fluid bg">
                            <img src="./assets/featured/guild-wars-logo-featured.png" alt=">Guild Wars" class="img-fluid logo">
                        </div>

                        <div class="caption">

                            <h3>Guild Wars<br/>&nbsp;</h3>
                            <p>Visit Site
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>

                        </div>
                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>

                        </div>
                    </a>
                    </div>

                    <div>
                    <a href="https://www.lineage2.com">

                        <div class="img-wrap">
                            <img src="./assets/featured/lineage-ii-bg-featured.jpg" alt=">Lineage II" class="img-fluid bg">
                            <img src="./assets/featured/lineage-ii-logo-featured.png" alt=">Lineage II" class="img-fluid logo">
                        </div>
                        <div class="caption">

                            <h3>Lineage II<br/>&nbsp;</h3>
                            <p>Visit Site
                                <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
                            </p>

                        </div>
                        <div class="corner">
                            <div>
                            </div>
                            <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>

                        </div>
                    </a>
                    </div>

                </div>
                
                <img src="./images/edge-flare-1.png" alt="" class="flare right">

                <img src="./assets/static/featured-edge-right-1.png" alt="" class="edge right">

            </div>
            
        </section>
        
        <section id="About" class="mediuim-feature">
            
            <div class="edge-tb edge-top-2 edge-bottom-2">
                <img src="./assets/static/featured-edge-left-2.png" alt="" class="edge left">

                <img src="./assets/static/home-about.jpg" class="img-fluid" alt="NCSOFT Corporate Headquarters">
                
                <div class="sep"></div>
                
                <div class="desc">
                    <div>
                        <h2>We are NCSoft West</h2>
                        <p>
                            NCSOFT<sup style="font-size:0.5rem; position:relative;top:-8px;">®</sup>, established in 1997 and headquartered in Seoul, South Korea, is one of the leading gaming publishers in the world. At NCSOFT West, we manage the portfolio, initiatives and game services across the Americas, Europe, Australia and New Zealand. Together we operate many of the most successful and influential massively multiplayer online games in the industry, welcoming hundreds of millions of players daily into exciting living worlds for extraordinary adventures.
                        </p>
                        
                        <div class="sep"></div>
                        
                        <h3>Stay Connected With Our Games</h3>
            
                        <a href="https://www.facebook.com/NCSOFTWest/">
                            <font-awesome-icon :icon="['fab', 'facebook']" fixed-width></font-awesome-icon>
                        </a>
                        
                        <a href="https://twitter.com/NCSOFT_West">
                            <font-awesome-icon :icon="['fab', 'twitter']" fixed-width></font-awesome-icon>
                        </a>
                    </div>
                    
                </div>

                <img src="./images/edge-flare-1.png" alt="" class="flare bottom">

                <img src="./assets/static/featured-edge-right-2.png" alt="" class="edge right">

            </div>
            
        </section>
        
        <section id="Games" class="edge-tb edge-top-3 edge-bottom-3">
            
            <img src="./images/edge-flare-1.png" alt="" class="flare">

            <div class="hero-slider">
                <div id="AionFeaturedSlide" class="featured-game top left">

    <picture>
        <source media="(max-width: 576px)" srcset="./assets/featured/aion-legions-of-war-bg.jpg">
        <source media="(min-width: 577px)" srcset="./assets/featured/aion-legions-of-war-bg.jpg">
        <img src="./assets/featured/aion-legions-of-war-bg.jpg" alt="" >
    </picture>

    <a href="https://www.aionlegionsofwar.com" class="content edge-top-3 edge-bottom-3">
        <div>
        <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

        <img src="./assets/featured/aion-legions-of-war-logo.png" alt=""  class="img-fluid">
        
        <div class="sep"></div>

        <h4>Ascend to ultimate victory</h4>
        
        <h5>Explore a new Aion adventure on Mobile</h5>

        <p>Visit Site <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon></p>
        <div class="corner">
            <div>
            </div>
            <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>

        </div>
        <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">
        </div>
    </a>

</div>
                <div id="BladeAndSoulFeaturedSlide" class="featured-game bottom left" >

    <picture>
        <source media="(max-width: 576px)" srcset="./assets/featured/blade-and-soul-bg-v2.jpg">
        <source media="(min-width: 577px)" srcset="./assets/featured/blade-and-soul-bg-v2.jpg">
        <img src="./assets/featured/blade-and-soul-bg-v2.jpg" alt="" >
    </picture>

    <a href="https://www.bladeandsoul.com/en/" class="content edge-top-3 edge-bottom-3">
        <div>
        <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left ">

        <img src="./assets/featured/blade-and-soul-logo.png" alt="" class="img-fluid">

        <div class="sep"></div>
        
        <h4>Rise. Strike. Avenge.</h4>

        <h5>BRAVE A DEADLY MMO WORLD WHERE MARTIAL ARTS MEETS MYTHOLOGY</h5>

        <p>Visit Site <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon></p>

        <div class="corner">
            <div>
            </div>
            <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>

        </div>
        
        <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">
        </div>
    </a>


</div>
                <div id="GuildWarsFeaturedSlide" class="featured-game top right">

    <picture>
        <source media="(max-width: 576px)" srcset="./assets/featured/guild-wars-2-bg.jpg">
        <source media="(min-width: 577px)" srcset="./assets/featured/guild-wars-2-bg.jpg">
        <img src="./assets/featured/guild-wars-2-bg.jpg" alt="" >
    </picture>

    <a  href="https://www.guildwars2.com/en" class="content edge-top-3 edge-bottom-3">
        <div>
        <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

        <img src="./assets/featured/guild-wars-2-logo.png" alt=""  class="img-fluid">
        
        <div class="sep"></div>

        <h4>Fast-Paced Action-Combat MMORPG</h4>
        
        <h5>No Subscription Fees!</h5>

        <p>Visit Site <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon></p>
        <div class="corner">
            <div>
            </div>
            <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>

        </div>
        <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">
        </div>
    </a>

</div>                
            
                <div id="AionFeaturedSlide" class="featured-game bottom left">

    <picture>
        <source media="(max-width: 576px)" srcset="./assets/featured/aion-bg-v2.jpg">
        <source media="(min-width: 577px)" srcset="./assets/featured/aion-bg-v2.jpg">
        <img src="./assets/featured/aion-bg.jpg" alt="" >
    </picture>

    <a href="https://www.aiononline.com" class="content edge-top-3 edge-bottom-3">
        <div>
        <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

        <img src="./assets/featured/aion-logo.png" alt=""  class="img-fluid">
        
        <div class="sep"></div>

        <h4>Ascend Into Battle</h4>
        
        <h5>TAKE FLIGHT AS A WINGED WARRIOR IN A MASSIVE MMORPG WAR</h5>

        <p>Visit Site <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon></p>
        <div class="corner">
            <div>
            </div>
            <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>
        </div>
        <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">
        </div>
    </a>

</div>

                            
                <div id="GuildWarsFeaturedSlide" class="featured-game top right">

    <picture>
        <source media="(max-width: 576px)" srcset="./assets/featured/guild-wars-bg.jpg">
        <source media="(min-width: 577px)" srcset="./assets/featured/guild-wars-bg.jpg">
        <img src="./assets/featured/guild-wars-bg.jpg" alt="" >
    </picture>

    <a  href="https://www.guildwars.com/en" class="content edge-top-3 edge-bottom-3">
        <div>
        <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

        <img src="./assets/featured/guild-wars-logo.png" alt=""  class="img-fluid">
        
        <div class="sep"></div>

        <h4>BECOME A LEGEND</h4>
        
        <h5>Embark on the original adventure in the world of Tyria</h5>

        <p>Visit Site <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon></p>
        <div class="corner">
            <div>
            </div>
            <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>

        </div>
        <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">
        </div>
    </a>

</div>
                            

                <div id="Lineage2FeaturedSlide" class="featured-game top right" >

    <picture>
        <source media="(max-width: 576px)" srcset="./assets/featured/lineage-ii-bg.jpg">
        <source media="(min-width: 577px)" srcset="./assets/featured/lineage-ii-bg.jpg">
        <img src="./assets/featured/lineage-ii-bg.jpg" alt="" >
    </picture>

    <a href="https://www.lineage2.com" class="content edge-top-3 edge-bottom-3">
        <div>
        <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

        <img src="./assets/featured/lineage-ii-logo.png" class="img-fluid">

        <div class="sep"></div>
        
        <h4>FORGE YOUR OWN DESTINY</h4>

        <h5>JOIN THE HERALDED MMO CLASSIC AS A WARRIOR OF LEGEND</h5>

        <p>Visit Site <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon></p>

        <div class="corner">
            <div>
            </div>
            <font-awesome-icon :icon="['fal', 'angle-right']" fixed-width></font-awesome-icon>

        </div>
        
        
        <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">
        </div>
    </a>


</div>                
                            

            </div>
        
            <div class="controls">
                <div class="interval"></div>
                
                
                <div class="dots"></div>
                
                
        
            </div>
            
        </section>
        
        <section id="Links">
        
            <div>
        
                <a href="http://us.ncsoft.com/support" class="edge-tb edge-top-3 edge-bottom-3">
                    <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

                    <img src="./assets/links/support.jpg" alt="" class="img-fluid">
                    <h3>
                        <span>Support</span>
                        
                        <img src="./images/edge-flare-1.png" alt="">
        
                    </h3>

                    <div class="corner">
                        <div>
                        </div>
                        <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>

                    </div>
                    
                    <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">

                </a>
        
                <a href="http://us.ncsoft.com/careers" class="edge-tb edge-top-3 edge-bottom-3">
                    <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

                    <img src="./assets/links/join-us.jpg" alt="" class="img-fluid">
                    <h3>
                        <span>Careers</span>
                        
                        <img src="./images/edge-flare-1.png" alt="" class="bottom">
        
                    </h3>
                    <div class="corner">
                        <div>
                        </div>
                        <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>

                    </div>
                    
                    <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">

                </a>
        
                <a href="http://us.ncsoft.com/contact-us" class="edge-tb edge-top-3 edge-bottom-3">
                    <img src="./assets/static/featured-edge-left-3.png" alt="" class="edge left">

                    <img src="./assets/links/contact.jpg" alt="" class="img-fluid">
                    <h3>
                        <span>Contact</span>
                        
                        <img src="./images/edge-flare-1.png" alt="">
        
                    </h3>
                    <div class="corner">
                        <div>
                        </div>
                        <font-awesome-icon :icon="['fal', 'arrow-right']" fixed-width></font-awesome-icon>

                    </div>
                    
                    <img src="./assets/static/featured-edge-right-3.png" alt="" class="edge right">

                </a>
        
            </div>
        
        </section>

    </div>
    
    
            <footer>

    <div class="legal">
        
        <a href="https://www.facebook.com/NCSOFTWest/" class="social d-none d-md-block">
            <font-awesome-icon :icon="['fab', 'facebook']" fixed-width></font-awesome-icon>
        </a>
    
        <a href="https://twitter.com/NCSOFT_West" class="social d-none d-md-block">
            <font-awesome-icon :icon="['fab', 'twitter']" fixed-width></font-awesome-icon>
        </a>
    
        <a href="/en/legal/" target="_blank">Legal Documentation</a>
        <a href="/en/legal/ncsoft/privacy-policy.php" target="_blank">Privacy Policy</a>
        
    </div>
    
    
    <div>

        <span class="d-none d-md-block">
        <div class="language">
    <a href="#" class="./assets en">
        
        <i></i>
        <span>English</span>

    </a>
</div>

<div class="drawer">

    <a class="close" href="#">
        <i class="fal fa-arrow-right"></i>
    </a>


    <ul>

        
            <li>

                <a class="green ./assets en" rel="alternate" hreflang="en" href="http://us.ncsoft.com/en">
                    <i></i> English
                </a>

            </li>

        
            <li>

                <a class="green flag en-GB" rel="alternate" hreflang="en-GB" href="http://us.ncsoft.com/en-GB">
                    <i></i> English (UK)
                </a>

            </li>

        
            <li>

                <a class="green flag de" rel="alternate" hreflang="de" href="http://us.ncsoft.com/de">
                    <i></i> Deutsch
                </a>

            </li>

        
            <li>

                <a class="green flag fr" rel="alternate" hreflang="fr" href="http://us.ncsoft.com/fr">
                    <i></i> Français
                </a>

            </li>

        
    </ul>

</div>        </span>

        <a href="http://us.ncsoft.com">
            <img src="./images/ncsoft-logo.svg" alt="">
        </a>
        
        <p>
            © 2019 NCSOFT Corporation. All rights reserved. All trademarks are the property of their respective owners.
        </p>
    </div>
    

    
</footer>


<div id="Cover" class="cover"></div>            
            <div id="CookieConsent" class="">
    
    <div>
            
        <h3>
            Cookie Notification
        </h3>
        
        <p>
            NCSOFT uses certain cookies, both our own and from third parties, that are necessary for the website to function or as part of our business on the website to fulfill your requests, understand how you use the website, and improve the website experience for all users. To learn more about the cookies we use, please read the cookie section of our Privacy Policy <a href="http://www.ncsoft.com/en/legal/ncsoft/privacy-policy.php">here</a>.
        </p>
            
    </div>
    
    <button class="btn confirm"><i class="fal fa-fw fa-check-circle"></i> I Understand</button>
    
    <button class="btn close-consent"><i class="fal fa-fw fa-times"></i></button>
    
</div>
        </div>
            
        <script src="./js/vendor.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/slick.min.js"></script>

        
    <script>

        $(document).ready(function(){

            HeroSlider.init(document.querySelector('.hero-slider'));

			$('#featured-slider').slick({
			  dots: false,
			  infinite: true,
			  speed: 300,
			  slidesToShow: 6,
			  slidesToScroll: 1,
			  responsive: [
			    {
			      breakpoint: 1320,
			      settings: {
			        slidesToShow: 4,
			        slidesToScroll: 1,
			        infinite: true,
			        dots: true
			      }
			    },
			    {
			      breakpoint: 992,
			      settings: {
			        slidesToShow: 3,
			        slidesToScroll: 1
			      }
			    },
			    {
			      breakpoint: 768,
			      settings: {
			        slidesToShow: 2,
			        slidesToScroll: 1
			      }
			    },
			    {
			      breakpoint: 480,
			      settings: {
			        slidesToShow: 1,
			        slidesToScroll: 1
			      }
			    },
			  ]
			});
        });

    </script>


        

        
        

    </body>
</html>