.news-card{
    padding: 30px;
}
@media screen and (min-width: 768px) {
    .news-card:first-child {
        padding-left: 100px;
    }

    .news-card:last-child {
        padding-right: 100px;
    }

    .news-card:last-child .card-label{
        right: 100px;
    }
}
.news-card .card-label{
    position: absolute;
    top: calc(75% - 75px);
    right: 30px;
    width: 60%;
    height: 200px;
    background-image: linear-gradient(to right, rgba(10, 37, 77, 1), rgba(20, 57, 139, 1));
    padding: 20px 20px 40px 20px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.news-card .card-label .card-date{
    position: absolute;bottom: 20px;
}
.news-card .card-label .card-text{
    height: 100%;
    overflow: hidden;
}